.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.createpost {
    background-color: greenyellow;
    width: 30%;
    padding: 2em;
    border-radius: 5px;
    border: solid black 1px;
}
.createpost input {
    margin-bottom: 1em;
    width: 100%;
    outline: none;
}
.createpost textarea {
  width: 100%;
  height: 4em;
  resize: vertical;
}
.formcont {
    background-color: aqua;
    width: 30%;
    padding: 2em;
    border-radius: 5px;
    border: solid black 1px;
}
.formcont input {
    border: none;
    border-bottom: solid black 1px;
    margin-bottom: 1em;
    background-color: transparent;
    width: 100%;
    outline: none;
}
.regcont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.regbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.regbtn button {
    padding: 0.5em 1em;
    border: none;
}
.regerror {
    background-color: #ffcccb;
    border: solid #ab1e1b 1px;
    border-radius: 5px;
    padding: 0.5em;
    color: #ab1e1b;
}